# Development environment directories
/var/
/etc/

# ShellSpec
.shellspec
/spec/spec_helper.sh

# Backup files
*.bak
*~
*.swp
*.tar.gz

# Logs
*.log

# Temporary files
*.tmp
*~

# OS specific
.DS_Store
.directory
